<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>Terra Test</title>
</head>
<body>

    <section class="wrapper">
        <div class="container">
            <div class="vendor-machine">
                <div class="vendor-machine-table">
                    <div>
                        <div class="row">
                            <div class="item item-chocolate" data-price="220" data-number="11">
                                <img src="<%=require('/src/img/product-snickers.png')%>" class="available" alt="">
                                <img src="<%=require('/src/img/product-snickers.png')%>" class="available" alt="">
                                <img src="<%=require('/src/img/product-snickers.png')%>" class="available" alt="">
                                <span class="number">11</span>
                            </div>
                            <div class="item" data-number="12">
                                <span class="number">12</span>
                            </div>
                            <div class="item item-lemonade" data-price="315" data-number="13">
                                <img src="<%=require('/src/img/product-bomba.png')%>" class="available" alt="">
                                <img src="<%=require('/src/img/product-bomba.png')%>" class="available" alt="">
                                <img src="<%=require('/src/img/product-bomba.png')%>" class="available" alt="">
                                <span class="number">13</span>
                            </div>
                            <div class="item" data-number="14">
                                <span class="number">14</span>
                            </div>
                            <div class="item" data-number="15">
                                <span class="number">15</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="item" data-number="21">
                                <span class="number">21</span>
                            </div>
                            <div class="item item-chocolate" data-price="190" data-number="22">
                                <img src="<%=require('/src/img/product-mars.png')%>" class="available" alt="">
                                <img src="<%=require('/src/img/product-mars.png')%>" class="available" alt="">
                                <img src="<%=require('/src/img/product-mars.png')%>" class="available" alt="">
                                <span class="number">22</span>
                            </div>
                            <div class="item item-chocolate" data-price="220" data-number="23">
                                <img src="<%=require('/src/img/product-snickers.png')%>" class="available" alt="">
                                <img src="<%=require('/src/img/product-snickers.png')%>" class="available" alt="">
                                <img src="<%=require('/src/img/product-snickers.png')%>" class="available" alt="">
                                <span class="number">23</span>
                            </div>
                            <div class="item" data-number="24">
                                <span class="number">24</span>
                            </div>
                            <div class="item" data-number="25">
                                <span class="number">25</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="item" data-number="31">
                                <span class="number">31</span>
                            </div>
                            <div class="item" data-number="32">
                                <span class="number">32</span>
                            </div>
                            <div class="item item-lemonade" data-price="315" data-number="33">
                                <img src="<%=require('/src/img/product-bomba.png')%>" class="available" alt="">
                                <img src="<%=require('/src/img/product-bomba.png')%>" class="available" alt="">
                                <img src="<%=require('/src/img/product-bomba.png')%>" class="available" alt="">
                                <span class="number">33</span>
                            </div>
                            <div class="item item-chocolate" data-price="220" data-number="34">
                                <img src="<%=require('/src/img/product-snickers.png')%>" class="available" alt="">
                                <img src="<%=require('/src/img/product-snickers.png')%>" class="available" alt="">
                                <img src="<%=require('/src/img/product-snickers.png')%>" class="available" alt="">
                                <span class="number">34</span>
                            </div>
                            <div class="item" data-number="35">
                                <span class="number">35</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="item" data-number="41">
                                <span class="number">41</span>
                            </div>
                            <div class="item item-chocolate" data-price="190" data-number="42">
                                <img src="<%=require('/src/img/product-mars.png')%>" class="available" alt="">
                                <img src="<%=require('/src/img/product-mars.png')%>" class="available" alt="">
                                <img src="<%=require('/src/img/product-mars.png')%>" class="available" alt="">
                                <span class="number">42</span>
                            </div>
                            <div class="item" data-number="43">
                                <span class="number">43</span>
                            </div>
                            <div class="item" data-number="44">
                                <span class="number">44</span>
                            </div>
                            <div class="item" data-number="45">
                                <span class="number">45</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="item" data-number="51">
                                <span class="number">51</span>
                            </div>
                            <div class="item" data-number="52">
                                <span class="number">52</span>
                            </div>
                            <div class="item item-chocolate" data-price="190" data-number="53">
                                <img src="<%=require('/src/img/product-mars.png')%>" class="available" alt="">
                                <img src="<%=require('/src/img/product-mars.png')%>" class="available" alt="">
                                <img src="<%=require('/src/img/product-mars.png')%>" class="available" alt="">
                                <span class="number">53</span>
                            </div>
                            <div class="item" data-number="54">
                                <span class="number">54</span>
                            </div>
                            <div class="item" data-number="55">
                                <span class="number">55</span>
                            </div>
                        </div>
                    </div>
                    <div class="finish-can"></div>
                </div>
                <div class="vendor-machine-panel">
                    <div class="display">
                        <span>0</span>
                    </div>
                    <div class="cancel-button">
                        <button></button>
                    </div>
                    <div class="number-panel">
                        <input type="text" maxlength="2">
                        <button data-button="1">1</button>
                        <button data-button="2">2</button>
                        <button data-button="3">3</button>
                        <button data-button="4">4</button>
                        <button data-button="5">5</button>
                        <button data-button="6">6</button>
                        <button data-button="7">7</button>
                        <button data-button="8">8</button>
                        <button data-button="9">9</button>
                        <button data-cancel>C</button>
                        <button data-button="0">0</button>
                        <button data-submit>OK</button>
                    </div>
                </div>
            </div>
            <div class="coins">
                <div class="coins-list">
                    <div class="coins-item" data-coin="200">
                        <button><img src="<%=require('/src/img/coin-200.png')%>" alt=""></button>
                    </div>
                    <div class="coins-item" data-coin="100">
                        <button><img src="<%=require('/src/img/coin-100.png')%>" alt=""></button>
                    </div>
                    <div class="coins-item" data-coin="50">
                        <button><img src="<%=require('/src/img/coin-50.png')%>" alt=""></button>
                    </div>
                </div>
                <div class="coins-back">
                    <img src="<%=require('/src/img/coin-5.png')%>" style="display: none;" alt="">
                    <img src="<%=require('/src/img/coin-10.png')%>" style="display: none;" alt="">
                    <img src="<%=require('/src/img/coin-20.png')%>" style="display: none;" alt="">
                </div>
            </div>
        </div>
    </section>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
</body>
</html>
