//common styles
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #000;
  background: #F5F0E5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  
  display: flex;
  flex-direction: column;

  &.locked {
    overflow-y: hidden;
  }
}

h1, h2, h3, h4, blockquote, .serif {
  font-weight: 400;
  font-family: "Times New Roman", Times, serif;
}

h1 {
  font-size: 56px;
  line-height: 1.28;

  @media (max-width: 1279px) {
    font-size: 24px;
    line-height: 1.2;
  }
}

h2 {
  font-size: 40px;
  line-height: 47px;

  @media (max-width: 1279px) {
    font-size: 21px;
    line-height: 1.25;
  }
}

h3 {
  font-size: 32px;
  line-height: 1.25;

  @media (max-width: 1279px) {
    font-size: 24px;
    line-height: 1.4;
  }
}

h4 {
  font-size: 24px;
  line-height: 1.4;

  @media (max-width: 1279px) {
    font-size: 18px;
    line-height: 1.55;
  }
}

h5 {
  font-size: 21px;
  line-height: 26px;
  font-weight: 400;

  @media (max-width: 1279px) {
    font-size: 14px;
    line-height: 1.7;
  }
}

.container {
  width: 100%;
  max-width: 1584px;
  margin: 0 auto;
  padding: 0 48px;

  @media (max-width: 1920px) {
    max-width: 1400px;
  }

  @media (max-width: 1680px) {
    padding: 0 48px;
  }
  @media (max-width: 960px) {
    padding: 0 32px;
  }
  @media (max-width: 540px) {
    padding: 0 20px;
  }
}


html {
  scroll-behavior: smooth;

  @media screen and (prefers-reduced-motion: reduce) {
    scroll-behavior: auto;
  }
}

.bg-overlay {
  position: relative;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    background: rgba(0,0,0,0.30);
  }
  > * {
    z-index: 2;
  }
}

.popup {
	width: 404px;
	height: 164px;
	background: #000;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	padding-top: 34px;
	display: none;
	z-index: 23;
	
	p {
		margin: 0 0 12px;
		color: #fff;
		height: 44px;
		font-size: 15px;
		line-height: 22px;
	}

	span {
		display: block;
		margin: 0 auto;
		height: 32px;
		width: 100px;
		font-size: 15px;
		line-height: 32px;
		background-color: #A284C1;
		text-align: center;
		font-family: 'Gascogne';
    font-weight: 400;
		cursor: pointer;
	}
}

.link {
  position: relative;
  transition: 0.2s;

  &:after {
    content: '';
    height: 1px;
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 0;
    background-color: currentColor;
    transition: 0.4s;
  }

  &:hover {
    color: currentColor;
    opacity: 1;

    &:after {
      width: 100%;
    }
  }
}
