.btn {
  cursor: pointer;
  padding: 0 24px;
  display: inline-block;
  font-family: inherit;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 13px;
  line-height: 45px;
  height: 45px;
  text-align: center;
  border: 2px solid transparent;
  transition: all .2s;
  background: transparent;

  &:hover {
    transition: all .4s;
  }

  &:disabled {
    color: #adadad;
  }

  &--primary {
    &--dark {
      color: white;
      background: #202020;

      &:hover {
        background: #494949;
      }

      &:disabled {
        background: #494949;
        color: #737373;
      }
    }

    &--light {
      color: #171717;
      background: rgba(246, 246, 246, .9);

      &:hover {
        background: #ffffff;
      }
    }
  }

  &--secondary {
    &--dark {
      border-color: #202020;
      color: #000000;

      &:hover {
        color: white;
        border-color: #494949;
        background: #494949;
      }

      &:disabled {
        border-color: #adadad;
      }
    }

    &--light {

      border-color: #f6f6f6;
      color: #ffffff;

      &:hover, &:disabled {
        color: #171717;
        background: #f6f6f6;
      }
    }
  }

}

.inp {
  font-size: 16px;
  color: inherit;
  padding: 0;
  background: transparent;
  height: 45px;
  line-height: 45px;
  border: 0;
  border-bottom: 1px solid #979797;
  transition: all .2s;

  &:hover, &:focus {
    transition: all .4s;
    border-color: #5a5a5a;
  }

  &::placeholder {
    color: rgba(0, 0, 0, .6);
  }
}
