.wrapper {
    padding-top: 60px;
    .container {
        display: flex;
    }

    .vendor-machine {
        width: 800px;
        background: url(/src/img/vendor-machine.png) no-repeat top center;
        min-height: 1400px;
        background-size: contain;
        display: flex;

        &-table {
            width: calc(100% - 230px);
            padding: 94px 30px 0 50px;

            .row {
                display: flex;
                height: 141px;
            }

            .item {
                width: 20%;
                text-align: center;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                align-items: center;
                position: relative;

                &.item-lemonade {
                    img {
                        position: absolute;
                        bottom: 20px;
                        height: 100px;
                        top: auto;
                        left: 50%;
                        transform: translateX(-50%);
                        transition: all .3s;
                        z-index: 2;

                        &:nth-child(2) {
                            bottom: 30px;
                            left: 60%;
                            z-index: 1;
                        }

                        &:nth-child(3) {
                            bottom: 40px;
                            left: 70%;
                            z-index: 0;
                        }
                    }
                }

                &.item-chocolate {
                    img {
                        position: absolute;
                        bottom: 20px;
                        height: 100px;
                        z-index: 2;

                        &:nth-child(2) {
                            bottom: 30px;
                            z-index: 1;
                        }

                        &:nth-child(3) {
                            bottom: 40px;
                            z-index: 0;
                        }
                    }
                }

                // img.dropped {
                //     top: 800px;
                // }

                .number {
                    border: 2px solid #fff;
                    border-radius: 50%;
                    background-color: #000;
                    color: #fff;
                    width: 40px;
                    height: 40px;
                    line-height: 40px;
                    font-size: 24px;
                    position: relative;
                    z-index: 4;
                }
            }

            .finish-can {
                margin-top: 100px;

                img {
                    height: 100px;
                }
            }
        }

        &-panel {
            width: 230px;
            padding: 90px 0 0 25px;

            .display {
                color: #CC2328;
                background: url(/src/img/display-bg.png) no-repeat left top;
                background-size: contain;
                width: 142px;
                height: 76px;
                display: flex;
                align-items: center;

                span {
                    font-size: 40px;
                    padding-left: 5px;
                }
            }

            .cancel-button {
                padding: 89px 0 0 66px;

                button {
                    background: url(/src/img/cancel-button.png) no-repeat left top;
                    background-size: contain;
                    width: 55px;
                    height: 48px;
                }
            }

            .number-panel {
                display: flex;
                flex-wrap: wrap;
                padding-right: 63px;
                margin-top: 42px;

                input {
                    height: 0;
                    border: 0;
                    opacity: 0;
                }

                button {
                    width: 35px;
                    height: 35px;
                    margin: 0 0 10px 10px;
                    background: url(/src/img/pinpad-button-normal.png) no-repeat left top;
                    background-size: contain;
                    font-size: 14px;

                    &:active {
                        background-image: url(/src/img/pinpad-button-pressed.png);
                    }
                }
            }
        }
    }

    .coins {
        &-list {
            border: 6px solid #000;
            border-radius: 30px;
            background: #CFCFC8;
            display: flex;
            justify-content: center;
            margin-left: 50px;
            padding: 30px 40px;
        }

        &-item {
            margin: 0 10px;

            img {
                width: 100px;
            }
        }

        &-back {
            margin-top: 500px;
            padding: 0 40px;
            display: flex;
            flex-wrap: wrap;
            max-width: 500px;

            img {
                width: 100px;
                margin: 0 20px 20px 0;

                &:nth-child(3n) {
                    margin-right: 0;
                }
            }
        }
    }
}