*,
*::before,
*::after {
  box-sizing: border-box;
  outline: none;
}

body, p, figure {
  margin: 0;
}

header,
nav {
  display: block;
}
a {
  background-color: transparent;
  color: inherit;
  text-decoration: none;
}
a:-webkit-any-link {
  text-decoration: none;
}

a:active,
a:hover {
  outline: 0;
}

img {
  border: 0;
  vertical-align: middle;
  page-break-inside: avoid;
  max-width: 100%;
}
button {
  color: inherit;
  font: inherit;
  margin: 0;
  line-height: inherit;
  text-transform: none;
  border-radius: 0;
  outline: none;
  background: none;
  padding: 0;
  border: 0;
  cursor: pointer;
  -webkit-appearance: button;
}

ul {
  margin: 0;
  padding: 0;
}
li {
  margin-bottom: 0;
}
ul ul {
  margin-bottom: 0;
}

nav {
  ul {
    margin: 0;
    padding: 0;
    li {
      list-style: none;
    }
  }
}

section {
  overflow: hidden;
}